div.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(173, 0, 207);
    height: 8vh;
    width: 100%;
}

.logo:hover {
    cursor: pointer;
}

.clickable {
    padding: 5px;
    border-radius: 50%;
}

.clickable:hover {
    cursor: pointer;
    background-color: white;
}